body {
  background: #1F2937 ;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  text-shadow: 0px 0px 5px black;
}

#content {
  width: 470px;
  margin: 0 auto;
}

#rdmPass {
  color: #4ADF86;
}

#line{
  border-bottom: 2px solid #2F3E53;
}

#generate-btn {
  padding: 10px 30px;
  font-size: 20px;
  background: #10B981;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 0px 0px 5px black;
}
#generate-btn:hover{
  background: #127252;
}

.passwordsBox{
  width: 380px;
  height: 30px;
  padding: 10px 20px;
  background: #273549;
  border-radius: 5px;
  color: #55F991;
  border: 1px solid #296840;
  margin-right: 10px;
  font-size: 25px;
}

.Pass-box{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  margin: 30px auto;
}

#pass-size{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.pass-text{
  font-size: 25px;
  margin: 10px 0;
}
#pass-input{
  width: 20px;
  height: 25px;
  margin: 0 15px;
  border-radius: 5px;
  padding: 0 5px;
  border: 1px solid #296840;
  text-align: center;
  background: #273549;
  color: #55F991;
  text-shadow: 0px 0px 5px black;
}

.copy-btn{
  color: #55F991;
}
.copy-btn:hover{
  color: #127252;
}

#Check-boxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkBtn{
  width: 30px;
  height: 30px;
  margin-left: 15px;
  border-radius: 5px;
  border: none;
  background: #10B981;
  color: #273549;
  font-size: 25px;
  font-weight: 600;
}
.checkBtn:hover{
  background: #127252;
}

.numSym{
  display: flex;
  align-items: center;
}